@media only screen and (max-width: 1015px) {
  .welcome {
    grid-column: 1 / 13;
    grid-row: 1;
  }

  .challenge-summary {
    grid-column: 1 / 5;
    grid-row: 2;

    aspect-ratio: 1 / 1;
    padding: 16px;
  }

  .summary-description {
    gap: 0;
  }

  section.create-challenge {
    display: none;
  }

  .create-min {
    display: flex;

    grid-column: 1 / 5;
    grid-row: 3;

    aspect-ratio: 1 / 1;
    padding: 0;
  }

  .challenge-list {
    grid-column: 5 / 13;
    grid-row: 2 / 4;
  }

  p.urgent-mark {
    display: block;
  }
}

@media only screen and (max-width: 780px) {
  .main-container,
  .setting-container {
    grid-template-columns: repeat(8, 1fr);
  }

  .welcome {
    grid-column: 1 / 9;
  }

  .daily-sticky {
    flex-wrap: wrap;
  }

  .daily-sticky .sticky-description {
    flex: 1 0 100%;
  }

  .challenge-summary {
    grid-column: 1 / 6;
    grid-row: 2;

    aspect-ratio: auto;
    justify-content: center;
    gap: 24px;
  }

  .create-min {
    aspect-ratio: auto;
    grid-column: 6 / 9;
    grid-row: 2;
  }

  .create-min-btn button h2 {
    display: none;
  }

  .challenge-list {
    grid-column: 1 / 9;
    grid-row: 3;
  }

  p.urgent-mark {
    display: none;
  }

  .days-urge span {
    display: block;
  }

  section.side-bar {
    grid-column: 1 / 3;
  }

  .side-bar-container > div > button {
    justify-content: center;
  }

  .side-bar-container > div > button p {
    display: none;
  }

  section.settings {
    grid-column: 3 / 9;
  }

  #appearance-form .setting-color fieldset {
    background-color: transparent;
    flex-wrap: wrap;
    padding: 0;
  }
}

@media only screen and (max-width: 598px) {
  /************************************/

  #root {
    padding-bottom: 60px;
  }

  section.side-bar {
    position: fixed;
    background-color: var(--third-color);

    display: flex;
    justify-content: center;

    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 12px 12px;

    opacity: 1;
    border-radius: 0;
    box-shadow: none;

    z-index: 10000;
    overflow: hidden;
  }

  .side-bar-container {
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    /* gap: 16px; */
  }

  .side-bar-container > div {
    /* flex: 1; */
    width: fit-content;
    height: 100%;
    padding: 12px 0;
    justify-content: center;
    /* align-items: center; */
    /* background-color: yellow; */
  }

  .side-bar-container > div.active {
    /* padding-bottom: 24px; */
    /* border-radius: 50%; */
    /* background-color: transparent; */
    border-radius: 0 0 50% 50%;
    background-color: var(--white);
  }

  .side-bar-container > div.active > button {
    background-color: transparent;
    border: none;
  }

  .side-bar-container > div::before,
  .side-bar-container > div::after {
    top: 0;
    right: inherit;

    height: 80px;
    width: 80px;
  }

  .side-bar-container > div.active::after {
    opacity: 1;
    top: 0;
    right: -80px;
    /* background-color: red; */
    box-shadow: -40px -40px 0 var(--white);
  }

  .side-bar-container > div.active::before {
    opacity: 1;
    left: -80px;
    box-shadow: 40px -40px 0 var(--white);
  }

  .side-bar-container > div > button {
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid var(--text-color-light);
  }

  .side-bar-container > div > button > div {
    width: fit-content;
    gap: 0;
    justify-content: center;
    /* background-color: lime; */
  }

  .side-bar-container > div > button > div > p {
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }

  /* .side-bar-container > div.active p, */
  .side-bar-container > div.active > button > div span {
    color: var(--idle-deep);
    font-size: 36px;
  }

  section.settings {
    grid-column: 1 / 13;
    padding: 32px 24px;
    border-radius: 12px;
  }

  #account .informations {
    padding: 0;
    background-color: transparent;
  }

  #account .detail {
    gap: 4px;
  }

  #account .detail-field {
    padding: 0;
  }

  #account .del-btn button {
    background-color: var(--warn-color-deep);
  }
}

@media only screen and (max-width: 426px) {
  .main,
  .main-container {
    gap: 12px;
  }

  .main {
    padding-top: 68px;
  }

  header,
  main {
    padding: 0 12px;
  }

  .main-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .welcome,
  .challenge-summary,
  .create-min,
  .challenge-list {
    grid-column: 1 /5;
  }

  .welcome {
    grid-row: 1;
  }

  .daily-sticky {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 24px 12px;
  }

  .daily-sticky > div {
    padding: 12px;
    flex: 1;
  }

  .daily-sticky .sticky-description {
    flex: 1;
    justify-content: start;
  }

  .challenge-summary {
    flex-direction: row;
  }

  .create-min {
    position: fixed;
    bottom: 0;
    left: 0;

    padding-bottom: 12px;

    width: 100%;
    display: flex;
    justify-content: center;

    opacity: 1;
    border-radius: 0;

    background-color: var(--idle-dark);

    aspect-ratio: auto;

    z-index: 10000;

    box-shadow: none;
  }

  .create-min-btn {
    width: fit-content;
    padding: 12px;
    border-radius: 0 0 50% 50%;
    background-color: var(--white);
    z-index: 6;
  }

  .create-min-btn::before,
  .create-min-btn::after {
    content: "";
    position: absolute;
    top: 0;

    border-radius: 50%;

    height: 80px;
    width: 80px;

    opacity: 0;

    background-color: transparent;
    z-index: -1;

    transition: all 0.1s ease;
  }

  .create-min-btn::after {
    opacity: 1;
    right: -80px;
    box-shadow: -40px -40px 0 var(--white);
  }

  .create-min-btn::before {
    opacity: 1;
    left: -80px;
    box-shadow: 40px -40px 0 var(--white);
  }

  .create-min button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-direction: row;
    aspect-ratio: 1 / 1;
  }

  .challenge-list {
    grid-row: 4;
  }

  .pagination,
  .todo-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
