<div class="setting-password">
  <form id="form-password-edit">
    <div class="pwd-edit-inputs">
      <div class="pwd-input old-pwd">
        <label for="old">current password.</label>
        <input type="password" name="old" id="old" />
      </div>
      <div class="pwd-input new-pwd">
        <label for="new">new password.</label>
        <input type="password" name="new" id="new" />
      </div>
      <div class="pwd-input confirm-pwd">
        <label for="confirm">confirm new password.</label>
        <input type="password" name="confirm" id="confirm" />
      </div>
    </div>
    <div class="pwd-edit-buttons">
      <button type="submit">save.</button>
      <button type="button">discard.</button>
    </div>
  </form>
</div>
