<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/assets/images/favicon.png?v=2" type="image/png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../static/css/commitment.css" />

    <script src="../static/js/commitment.js" defer></script>
    <title>Commitment</title>
  </head>

  <body>
    <div class="main">
      <form id="commitments">
        <div class="intro">
          <h1>your journey start with commitment.</h1>
          <p>
            for your commitment, write at least one daily routine you are willing to commit to. you can have up to three
            (3) later for each category.
          </p>
        </div>
        <div class="daily">
          <div class="personal">
            <h3 class="personal-title">personal</h3>
            <div class="personal-lists">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div class="professional">
            <h3 class="personal-title">professional</h3>
            <div class="professional-lists">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div class="other">
            <h3 class="other-title">other</h3>
            <div class="other-lists">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="commit-btns">
          <button type="submit">commit.</button>
          <button type="button">quit.</button>
        </div>
      </form>
    </div>
  </body>
</html>
