<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-do List</title>

    <link rel="icon" href="../static/assets/images/favicon.png?v=1" type="image/png" />
    <link rel="stylesheet" href="../static/css/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet" />

    <script>
      {% if message %}
      window.message = {{ message | tojson | safe }}
      {% endif %}
    </script>

    <script src="../static/js/landing-page.js" defer></script>
    <script src="../static/js/users.js" type="module" defer></script>
  </head>
  <body>
    <div class="alert-message"></div>

    <div class="main">
      <div class="welcome">
        <div class="welcome-info">
          <h1 class="welcome-title">welcome</h1>
          <p class="welcome-text">design your future now and start listing what needs to be done.</p>
          <div class="start-button"><button type="button" class="start-adventure">accept challenge.</button></div>
        </div>

        <div class="forms">
          <div class="sign-in invisible-sign-in">
            <h2>continue adventure.</h2>
            <div class="sign-in-form">
              <form id="sign-in">
                <div class="sign-in-username">
                  <input type="text" name="username" id="si-username" placeholder=" " autocomplete="off" />
                  <label for="si-username">username</label>
                </div>
                <div class="sign-in-password">
                  <input type="password" name="password" id="si-password" placeholder=" " autocomplete="off" />
                  <label for="si-password">password</label>
                </div>
                <div class="si-error-message hide-si-error">
                  <p class="message"></p>
                </div>
                <div class="sign-in-button">
                  <button type="submit">continue.</button>
                  <button type="button">engage.</button>
                </div>
              </form>
            </div>
          </div>

          <div class="sign-up hide-sign-up">
            <h2>start adventure.</h2>
            <div class="sign-up-form">
              <form id="sign-up">
                <div class="sign-up-name">
                  <input type="text" name="name" id="name" placeholder=" " autocomplete="off" />
                  <label for="name">name</label>
                </div>
                <div class="sign-up-username">
                  <input type="text" name="username" id="su-username" placeholder=" " autocomplete="off" />
                  <label for="su-username">username</label>
                </div>
                <div class="sign-up-email">
                  <input type="email" name="email" id="email" placeholder=" " autocomplete="off" />
                  <label for="email">email</label>
                </div>
                <div class="sign-up-password">
                  <input type="password" name="password" id="su-password" placeholder=" " autocomplete="off" />
                  <label for="su-password">password</label>
                </div>
                <div class="su-error-message hide-su-error">
                  <p class="message"></p>
                </div>
                <div class="sign-up-button">
                  <button type="submit">engage.</button>
                  <button type="button">continue.</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
