<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />

    <link rel="icon" href="../static/assets/images/favicon.png?v=2" type="image/png" />

    <script>
      window.userData = {{ user | tojson | safe }};
    </script>

    <script src="../static/js/app.js" type="module" defer></script>
    <title>Dashboard</title>

    <link
      rel="preload"
      href="../static/fonts/Font%20Awesome%206%20Pro-Thin-100.otf"
      as="font"
      type="font/otf"
      crossorigin="anonymous"
      importance="high" />
    <link
      rel="preload"
      href="../static/fonts/Font%20Awesome%206%20Pro-Light-300.otf"
      as="font"
      type="font/otf"
      crossorigin="anonymous"
      importance="high" />
    <link
      rel="preload"
      href="../static/fonts/Font%20Awesome%206%20Pro-Regular-400.otf"
      as="font"
      type="font/otf"
      crossorigin="anonymous"
      importance="high" />
    <link
      rel="preload"
      href="../static/fonts/Font%20Awesome%206%20Pro-Solid-900.otf"
      as="font"
      type="font/otf"
      crossorigin="anonymous"
      importance="high" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/loading-page.css" />
    <link rel="stylesheet" href="../static/css/media-query.css" />
  </head>

  <body>
    <div class="loader">
      <div class="loader-container">
        <div class="header"></div>
        <div class="content loading">
          <div class="area area-1">
            <div class="top">
              <div class="h-1"></div>
              <div class="p"></div>
            </div>
            <div class="bottom"></div>
          </div>
          <div class="area area-2"></div>
          <div class="area area-3"></div>
          <div class="area area-4"></div>
        </div>
      </div>
    </div>

    <div class="main">
      <header>
        <div class="menu">
          <div class="logo">
            <div class="logo container"></div>
            <h2 class="logo-text">arise.</h2>
          </div>
          <nav>
            <ul>
              <li>
                <button type="button" class="btn-dashboard">
                  <span>objects-column</span>
                </button>
              </li>
              <li>
                <button type="button" class="btn-settings">
                  <span>gear-complex</span>
                </button>
              </li>
              <li>
                <button type="button" class="btn-logout">
                  <span>right-from-bracket</span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <main id="root"></main>
    </div>

    <div id="modals"></div>
  </body>
</html>
